<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
  <span class="navbar-brand">NGU</span>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink="/armory">Armory <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink="best_acc">Best trinket</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" routerLinkActive='active' routerLink="patch_notes">Patch notes</a>
      </li>
    </ul>
  </div>
</nav>
