<div class='container'>


April 1, 2019 build 1.0
<ul>
  <li>
    Armory. Combine any piece of you equipment to find the best ones
  </li>
</ul>

April 8, 2019 build 1.1
<ul>
  <li>
    Best accessories
    <p>
      Find the best N accessories in your inventory for magic/energy/both NGU power
    </p>

    <ul>
      <li>Go to
        <a routerLink='/'>Armory</a>
        and equip you current head/body/pants/boots/weapon</li>
      <li>Go to
        <a routerLink='/best_acc'>Best Trinket</a>
        and click on the accessories you currently have.
      </li>
      <li>Insert the level of every accessory (default is 100)</li>
      <li>Insert the number of accessory slots you have. Default is 6</li>
      <li>Click on calculate to see the result</li>
      <li>At high numbers the browser page can be crashed. If you are a developer with good algorithm knowledge - pm me</li>
    </ul>

  </li>
  <li>
    Currently equipped items have opacity=0.2 now in the list
  </li>
  <li>
    Fixed some accessories didn't have a white border.
  </li>
</ul>


</div>
