<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class='row'>
        <div class="col-1 inventory_cell">
          <img [src]='equippedItems.accessory.'
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img *ngIf='headIsEmpty' [src]='emptyItemIcons.head | async' alt=''>
        </div>
      </div>
      <div class='row'>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.chest | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.weapon | async' alt=''>
        </div>
      </div>
      <div class='row'>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.pants | async' alt=''>
        </div>
      </div>
      <div class='row'>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.accessory | async' alt=''>
        </div>
        <div class="col-1 inventory_cell">
          <img [src]='emptyItemIcons.boots | async' alt=''>
        </div>
      </div>
    </div>

    <div class='col-4'>
      <div style="text-align: center;">EQUIPMENT BONUSES</div>
      <div *ngFor='let stat of totalStats'>
        <div *ngIf='stat.amount > 0 && isMainStat(stat.stat)'>{{stat.stat}}: {{stat.amount}}</div>
      </div>
      <hr>
      <div *ngFor='let stat of totalStats'>
        <div *ngIf='stat.amount > 0 && !isMainStat(stat.stat)'>{{stat.stat}}: {{stat.amount}}%</div>
      </div>
    </div>
  </div>
</div>
<hr>
<img *ngFor='let item of inventoryItems.two_d'
     [src]='item.img'
     [alt]='item.name'
     [matTooltip]='inventoryTooltip(item)'
     (click)='equipItem(item)'
>
